@model CreateProductVM
<form class="col-8" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" id="exampleInputPassword1">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" id="exampleInputPassword1">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" id="exampleInputPassword1">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <select class="d-none" asp-for="Categories"></select>
    <select class="d-none" asp-for="Colors"></select>
    <div class="form-group">
        <select class="custom-select" asp-for="CategoryId">
            @foreach (Category item in Model.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <select class="custom-select" asp-for="ColorsId">
            @foreach (Color item in Model.Colors)
            {
                <option value="@item.Id">@item.Code</option>
            }
        </select>
    </div>
    <span class="text-danger" asp-validation-for="CategoryId"></span>
    <div class="form-group">
        <label asp-for="Images"></label>
        <input asp-for="Images" class="form-control" id="exampleInputPassword1">
        <span class="text-danger" asp-validation-for="Images"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>