@model List<Product>

<div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
    <div class="row product-grid-4">
        @foreach (Product item in Model)
        {
            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom">
                            <a href="shop-product-right.html">
                                <img class="default-img" src="~/assets/imgs/shop/@item.Images.FirstOrDefault().ImageName" alt="">
                                <img class="hover-img" src="assets/imgs/shop/product-1-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="hot">Hot</span>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-category">
                            <a href="shop-grid-right.html">@item.Category?.Name</a>
                        </div>
                        <h2><a href="shop-product-right.html">@item.Name</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                                <span>90%</span>
                            </span>
                        </div>
                        <div class="product-price">
                            <span>@item.Price</span>
                            <span class="old-price">$245.8</span>
                        </div>
                        <div class="product-action-1 show">
                            <button onclick="addCart(this)" value="@item.Id" class="addCartButton" aria-label="Add To Cart" class="action-btn hover-up">
                                <i class="fi-rs-shopping-bag-add"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--End product-grid-4-->
</div>